# Configuración del Servidor
PORT=5010
NODE_ENV=development
JWT_SECRET=seguro_2026

# Configuración de CouchDB
COUCHDB_PROTOCOL=http
COUCHDB_HOST=127.0.0.1:5984
COUCHDB_USER=admin
COUCHDB_PASS=admin
COUCHDB_DB=tudb
TZ=America/Argentina/Buenos_Aires